<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PublishMoodServlet</servlet-name>
    <servlet-class>com.ice.servlet.PublishMoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetMoodById</servlet-name>
    <servlet-class>com.ice.servlet.GetMoodById</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.ice.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ice.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ice.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadFaceServlet</servlet-name>
    <servlet-class>com.ice.servlet.UploadFaceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexShowFaceServlet</servlet-name>
    <servlet-class>com.ice.servlet.IndexShowFaceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.ice.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddFriendsServlet</servlet-name>
    <servlet-class>com.ice.servlet.AddFriendsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <servlet-class>com.ice.servlet.UpdatePwdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckNewRegisterNameServlet</servlet-name>
    <servlet-class>com.ice.servlet.CheckNewRegisterNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.ice.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CollectMoodServlet</servlet-name>
    <servlet-class>com.ice.servlet.CollectMoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DealTransmit</servlet-name>
    <servlet-class>com.ice.servlet.DealTransmit</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DealCommentServlet</servlet-name>
    <servlet-class>com.ice.servlet.DealCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveMoodServlet</servlet-name>
    <servlet-class>com.ice.servlet.RemoveMoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveFriendsServlet</servlet-name>
    <servlet-class>com.ice.servlet.RemoveFriendsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getCommentServlet</servlet-name>
    <servlet-class>com.ice.servlet.getCommentServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.ice.util.EncodingFilter</filter-class>
  </filter>
  <servlet-mapping>
    <servlet-name>PublishMoodServlet</servlet-name>
    <url-pattern>/servlet/PublishMoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMoodById</servlet-name>
    <url-pattern>/servlet/GetMoodById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/servlet/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFaceServlet</servlet-name>
    <url-pattern>/servlet/UploadFaceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexShowFaceServlet</servlet-name>
    <url-pattern>/servlet/IndexShowFaceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriendsServlet</servlet-name>
    <url-pattern>/servlet/AddFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <url-pattern>/servlet/UpdatePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/servlet/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectMoodServlet</servlet-name>
    <url-pattern>/servlet/CollectMoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckNewRegisterNameServlet</servlet-name>
    <url-pattern>/servlet/CheckNewRegisterNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DealTransmit</servlet-name>
    <url-pattern>/servlet/DealTransmit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DealCommentServlet</servlet-name>
    <url-pattern>/servlet/DealCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveMoodServlet</servlet-name>
    <url-pattern>/servlet/RemoveMoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveFriendsServlet</servlet-name>
    <url-pattern>/servlet/RemoveFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getCommentServlet</servlet-name>
    <url-pattern>/servlet/getCommentServlet</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>